html,
body,
h2,
h4,
h5 {
    font-family: "Roboto Condensed", sans-serif;
}


h1 {
    text-align: center;
}


a {
    color: black;
}


a:hover {
    color: red;
    text-decoration: none;
}
/*Sidebar*/

#sidebar {
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    background: black;
    float: left;
}


#sidebar h1 {
    color: #ac00e6;
    text-align: left;
    margin-left: 20px;
}


#schools ul {
    padding: 0;
    list-style: none;
}


#schools li {
    color: white;
    text-indent: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #0d0d0d;
    cursor: pointer;
    font-size: 22px;
}


#schools li:nth-child(1) {
    margin-top: 20px;
}


#schools li:hover {
    background-color: red;
    color: white;
}


#searchBox {
    width: 85%;
    margin-left: 20px;
    padding: 5px;
    font-size: 20px;
    border-color: red;
}



/*nav bar*/
nav {
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,dfe5d7+40,b3bead+100;Wax+3D+%233 */
    background: #fcfff4; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
}


.glyphicon {
    float: left;
    margin-top: 15px;
    color: black;
    font-size: 35px;
    line-height: 30px;
    margin-left: 15px;
}


.glyphicon:hover {
    color: red;
}


#title {
    color: #000000;
}


#title h1 {
    text-align: right;
}


#title a {
    color: red;
}


#title a:hover{
    color: purple;
}


#github {
    color: red;
    float: left;
    margin-top: 15px;
    font-size: 35px;
    padding-left: 15px;
}


#github:hover {
    color: #ac00e6;
}
}


/*main page*/
#wrapper{
    padding: 0;
}

.container-fluid{
    padding: 0;
}


.fail {
    margin-top: 200px;
    z-index: 1000;
    font-size: 50px;
    color: red;
    text-align: center;
}


#page-wrapper {
    width: 100%;
    padding: 0;
}


#map {
    width: 100;
    height: 90%;
    position: absolute;

}


/*Infowindow*/
h2 {
    color: red;
    text-align: center;
}


p {
    font-size: 15px;
    text-align: center;
    width:300px;
    padding: 5px;
}


.via {
    color: purple;
    text-align: center;
}


.via:hover {
    color: red;
}


h4 {
    color: black;
    text-align: center;
}


h5 {
    font-size: 40px;
    color: red;
    text-align: center;
}


/*Collaspible function*/
#wrapper.menuDisplayed #sidebar {
    width: 25%;
}


#wrapper.menuDisplayed #page-wrapper {
    padding-left: 25%;
}


#wrapper.menuDisplayed #map {
    width: 75%;
    height: 100%;
}


#wrapper.menuDisplayed #title h1 {
    text-align: right;
}





