html,
body,
h2,
h4,
h5 {
    font-family: "Roboto Condensed", sans-serif;
}


h1 {
    text-align: center;
}


a {
    color: black;
}


a:hover {
    color: red;
    text-decoration: none;
}
/*Sidebar*/

#sidebar {
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    background: black;
    float: left;
}


#sidebar h1 {
    color: #ac00e6;
    text-align: left;
    margin-left: 20px;
}


#schools ul {
    padding: 0;
    list-style: none;
}


#schools li {
    color: white;
    text-indent: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #0d0d0d;
    cursor: pointer;
    font-size: 22px;
}


#schools li:nth-child(1) {
    margin-top: 20px;
}


#schools li:hover {
    background-color: red;
    color: white;
}


#searchBox {
    width: 85%;
    margin-left: 20px;
    padding: 5px;
    font-size: 20px;
    border-color: red;
}


/*main page*/
.fail {
    margin-top: 200px;
    z-index: 1000;
    font-size: 50px;
    color: red;
    text-align: center;
}


#page-wrapper {
    width: 100%;
    padding: 0;
}


#map {
    width: 95%;
    height: 85%;
    position: absolute;
    margin-top: 70px;
    margin-left: 20px;
}


.glyphicon {
    float: left;
    margin-top: 15px;
    color: black;
    font-size: 30px;
    line-height: 30px;
}


.glyphicon:hover {
    color: red;
}


#title {
    color: #737373;
}


#title h1 {
    text-align: right;
}


#github {
    color: red;
    float: left;
    margin-top: 15px;
    font-size: 30px;
    padding-left: 15px;
}


#github:hover {
    color: #ac00e6;
}


/*Infowindow*/
h2 {
    color: red;
    text-align: center;
}


p {
    font-size: 15px;
    text-align: center;
    width:300px;
    padding: 5px;
}


.via {
    color: purple;
    text-align: center;
}


.via:hover {
    color: red;
}


h4 {
    color: black;
    text-align: center;
}


h5 {
    font-size: 40px;
    color: red;
    text-align: center;
}


/*Collaspible function*/
#wrapper.menuDisplayed #sidebar {
    width: 25%;
}


#wrapper.menuDisplayed #page-wrapper {
    padding-left: 25%;
}


#wrapper.menuDisplayed #map {
    width: 71%;
    margin-left: 15px;
}


#wrapper.menuDisplayed #title h1 {
    text-align: right;
}

/*Responsiveness for infow window content*/
@media only screen and (max-width: 400px) {

h2 {
    font-size: 20px;
    width:200px;
    padding: 5px;
}


p {
    font-size: 15px;
    width:200px;
    padding: 5px;
}


h4 {
    font-size: 15px;
}

h5 {
    font-size: 30px;
    width: 200px;
    padding: 5px;

}
}
